@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Codigo Fuente</h3>
<p>No podras compartir con otros, sin autorizacion del Autor: Carlos C. Torres C.</p>
<h3>Vulnerabilidades</h3>
<p>
    No hago responsable en caso de ser victima de hackeo por descuido del usuario o cliente
    ya sea por instalacion de Software Pirata, o descarga de contenido Ilegal.
</p>
<h3>Mantenimiento</h3>
<p>
    Se le proveera mantenimiento en caso de encontrar Error en el Programa,
    Mejoras de rendimiento, revision de datos, etc.
</p>